/*-------- General styles --------*/
body {
    color: #34495e;
}
.g-margin-top {
    margin-top: 20px;
}
.g-margin-bottom {
    margin-bottom: 20px;
}
.g-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*-------- General colors --------*/
.bg-info-blue {
    background: #3598db;
}
.btn.bg-info-blue {
    color: #fff;
}
.btn.bg-info-blue:hover {
    opacity: .9;
    text-decoration: none;
}
.text-info-blue {
    color: #3598db;
}
.bg-general-blue {
    background: #34495e;
}
.btn.bg-general-blue {
    color: #fff;
}
.btn.bg-general-blue:hover {
    opacity: .9;
    text-decoration: none;
}
.text-general-blue {
    color: #34495e;
}
.bg-white {
    background: #fff;
}
.btn.bg-white {
    color: #fff;
}
.btn.bg-white:hover {
    opacity: .9;
    text-decoration: none;
}
.text-white {
    color: #fff;
}
/*------- header ------*/
#header {
    min-height: 50px;
    padding: 10px 0;
}
.general-logo {
    height: 50px;
    padding: 10px 15px;
    display:inline-block;
}
.general-logo img{
    width: 30px;
    height: 30px;
}
.main-menu {
    display: inline-block;
    float: right;
}
.main-menu > li {
    float: left;
    margin-right: 10px;
}
.main-menu > li a {
    width: 100%;
    display: inline-block;
    padding: 10px 20px 15px;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-shadow: 0 0 2px #3598db;
}
.main-menu > li a:hover {
    border-color: #e82930;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#footer {
    height: 200px;
}
#footer .form-group {
    margin: 50px;
}
#footer .form-group input {
    width: 350px;
    height: 40px;
    margin: 0;
}
#footer .form-group a {
    height: 40px;
    padding: 10px 20px;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
}