<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-general-blue text-center">Personal dada</h3>    
            <form>
                <div class="form-group">
                    <label for="name">Full name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
            </form>
        </div>
    </div>
</div>